<div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3 "><a routerLink="/setup/number" >Колличество карточек</a></li>
            <li class="tab col s3"><a routerLink="/setup/gender">Пол</a></li>
            <li class="tab col s3"><a routerLink="/setup/nat">Национальность</a></li>
          </ul>
        </div>
</div>

<router-outlet></router-outlet>
<!-- <form class="col s12">  
    <div class="row">
        <div class="input-field col s3">
            <input id="last_name" type="text" class="validate" [(ngModel)]="size" name="sizePage" >
            <label for="last_name">Колличество карточек за раз </label>
            <a class="waves-effect waves-light btn" (click) ="getChange()">Применить</a>
          </div>
    </div>
</form> -->
      